$white : #ffff;
$primary: red;

%selected {
  // background-color: transparent !important;
  background-image: linear-gradient(89.85deg,
      rgba(red, 0.9) 100%, );
}

.navBar {
  border-right: none !important;


  [class~='ant-menu-title-content'] {
    span {
      width: 100%;
      display: flex;
    }
  }



  [class~='ant-menu-item-icon'] {
    fill: $white;
  }

  [class~='ant-menu-item-selected'] {
    @extend %selected;
  }
}

.divider {
  width: 75%;
  display: flex;
  margin-inline: auto;

  [class~='ant-divider'] {
    border-color: rgba($white, 0.4);
  }
}

.footerStyle {
  position: absolute;
  width: 100%;
  padding: 20px !important;
  background: transparent !important;
  bottom: 0;
}

.PopoverMenu {
  cursor: pointer;
}